/* Common CSS or Utilities Start */
body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.container {
    padding: 3.8% 0;
}
.btn-link {
    background-color: #E02C6D;
    font-size: 17px;
    width: 148px;
    padding: 10px 5px;
    text-align: center;
}
p {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: white;
}
.fade-in {
    animation: fadeIn linear 5s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.section-title {
    font-size: 48px;
    margin-bottom: 15px;
    color: black;
}
/* Common CSS or Utilities End */


/* Animation Style Start */
.animation-area {
    width: 100%;
    height: 100%;
}
.circle-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 677px;
    overflow: hidden;
    margin: 0;
    z-index: 1;
}
.circle-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -0px;
}
.circle-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circle-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.circle-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.circle-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.circle-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.circle-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
} 
/* Animation Style End */

/* Header Style Start */
.wrapper {
    height: 677px;
    background-color: #2D25A0;
}
.wrapper .wrapper-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .text-box {
    width: 40%;
    padding: 0 0 9% 10%;
}
.wrapper .text-box .heading-title {
    font-size: 60px;
    color: white;
}
.wrapper .text-box i {
    font-size: 14px;
}
.wrapper .image-box {
    width: 40%;
    padding: 8% 10% 10% 0;
}
.wrapper .image-box .banner-img {
    width: 556px;
    height: 438px;
}
/* Header Style End */

/* Players Section Style Start */
.players {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    margin-left: auto;
    margin-right: auto;
}
.players .player {
    width: 300px;
    height: 460px;
    padding: 15px;
    box-shadow: 0 0 10px white;
}
.player .player-img {
    overflow: hidden; 
}
.player .player-img img{
    width: 300px;
    height: 256px;
    transition: transform 2s ease-in-out;
}
.player .player-img img:hover {
    transform: scale(1.1);
}
.player .player-details h2 {
    font-size: 25px;
    margin: 10px 0;
}
/* Footballer(Players) Section Style End */

/* Highlight Section Start */
.highlight-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.highlight-box .highlight-txt {
    width: 469px;
    height: 309px;
    padding: 15px;
}
.highlight-box .highlight-txt .highlight-details {
    font-size: 16px;
}
.highlight-box .highlight-img {
    overflow: hidden;
    padding: 15px;
}
.highlight-box .highlight-img img {  
    width: 567px;
    height: 427px;
    transition: transform 2s ease-in-out;
}
.highlight-box .highlight-img img:hover {
    transform: scale(1.1);
}
/* Highlight Section End */

/* Live Score Style Start */
.live-score {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
}
.live-score .box-container {
    display: flex;
    justify-content: center; 
}
.live-score .box-container .score-board {
    width: 900px;
    height: 500px;
    margin: 4% 20px 1%;
    box-shadow: 0 0 10px white;
}
.live-score .box-container .score-board .tournament-title {
    background-color: #2D25A0;
    padding: 2px;
    color: white;
}
.live-score .box-container .score-board .time-table .info-wrapper {
    display: grid;
    grid-template-columns: 150px 100px 150px 50px;
    background-color: #ddd;
    box-shadow: 0 0 10px white;
    margin: 25px;
    height: 75px;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}
.live-score .box-container .score-board .time-table .info-wrapper:hover {
    border: 2px solid #2D25A0;
}
.live-score .box-container .score-board .time-table .info-wrapper .team {
    font-size: 19px;
    font-weight: 600;
}
.live-score .box-container .score-board .time-table .info-wrapper .time {
    background-color: #2D25A0;
    width: 80px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 15px;
}
.live-score .box-container .score-board .time-table .info-wrapper .reminder {
    font-size: 22px;
    text-align: right;
}
.live-score .box-container .score-board .time-table .info-wrapper .reminder:hover {
    color: #2D25A0;
}
.live-score .box-container .side-container {
    width: 400px;
    height: 500px;
    margin: 4% 20px 1%;
    display: flex;
    flex-direction: column;
}
.live-score .box-container .calender {
    width: 100%;
    height: 360px;
    box-shadow: 0 0 10px white;
}
.live-score .box-container .calender .heading {
    display: flex;
    background-color: #2D25A0;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.live-score .box-container .calender .heading .part {
    width: 25%;
}
.live-score .box-container .calender .heading .title {
    width: 50%;
}
.live-score .box-container .calender .heading .part button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.live-score .box-container .calender .calender-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    padding: 0 10px;
}
.live-score .box-container .calender .month {
    font-size: 17px;
    padding: 10px 0;
}
.live-score .box-container .calender .date {
    padding: 2px 0;
    font-size: 15px;
    font-weight: 700;
}
.live-score .box-container .calender .other-date {
    color: grey;
    padding: 2px 0;
}
.live-score .box-container .calender .border {
    border: 2px solid #E02C6D
}
.live-score .box-container .important-links{
    width: 100%;
    height: 180px;
    box-shadow: 0 0 10px white;
    margin-top: 20px;
    text-align: left;
}
.live-score .box-container .important-links h3 {
    margin-left: 5%;
    margin-top: 8px;
    margin-bottom: 0;
}
.live-score .box-container .important-links ul {
    margin-top: 5px;
}
.live-score .box-container .important-links a {
    color: black; 
}
.live-score .box-container .important-links a:hover {
    text-decoration: underline;
    color: #2D25A0;
}
/* Live Score Style End */

/* Newsletter Style Start */
.newsletter {
    padding: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #2D25A0;
}
.newsletter .newsletter-title {
    font-size: 35px;
}
.newsletter .box {
    margin: 20px 0 30px;
}
.newsletter .box input, button {
    width: 60%;
    padding: 15px;
    border: 0;
    border-radius: 25px 0 0 25px;
    outline: none;
    box-shadow: 0 0 10px 0 #2D25A0 inset;
    font-size: 18px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.newsletter .box button {
    width: 10%;
    border-radius: 0 25px 25px 0;
    margin-left: -6px;
    font-weight: 600;
}
/* Newsletter Style End */

/* Footer Style Start */
footer {
    background-color: #2D25A0;
}
.footer-box {
    margin: 2% 0 6%;
}
.footer-box .footer-img {
    width: 483px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}
.footer-box .footer-img img {
    width: 90%;
}
.footer-box .social-media {
    display: flex;
    justify-content: center;
}
.footer-box .social-media .bg-sm {
    background-color: #ddd;
    color: #969BAB;
    width: 32px;
    height: 32px;
    padding: 5px;
    font-size: 21px;
    text-align: center;
    border-radius: 100%;
    margin: 10px;
    margin-top: 2.5%;
}
.footer-box .social-media .bg-sm:hover {
    background-color: #E02C6D;
    color: white;
}
.footer-box .footer-txt p {
    text-align: center;
    font-size: 18px;
    margin-top: 1%;
} 
/* Footer Style End */